{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>ayan.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
</head>
<body style="background-color: #f5f5f5;">

<!--start navbar-->
  
<nav class="navbar navbar-expand-xl navbar-dark bg-dark pt-0 pb-0">
<div class="container">
	<a href="{% url 'home' %}" class="navbar-brand ml-md-5"><i class="fa fa-cube"></i><b>ARCA</b></a>  		
	<button type="button" class="navbar-toggler cl" data-toggle="collapse" data-target="#navbarCollapse">
		Menu <span class="navbar-toggler-icon bg-dark"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">		
		
		<div class="navbar-nav ml-auto mr-md-5">
    {% url 'home' as home%}
			<a href="{% url 'home' %}" class="nav-item nav-link {% if request.path == home %}active{% endif %}"><i class="fa fa-home"></i><span>Home</span></a>
		 {% url 'skill' as skill%}
    	<a href="{% url 'skill' %}" class="nav-item nav-link {% if request.path == skill %}active{% endif %}"><i class="fa fa-gears"></i><span>Skill</span></a>
		{% url 'education' as education %}
    	<a href="{% url 'education' %}" class="nav-item nav-link {% if request.path == education %}active{% endif %}"><i class="fa fa-users"></i><span>Education</span></a>
			{% url 'achievement' as achievement %}
      <a href="{% url 'achievement' %}" class="nav-item nav-link {% if request.path == achievement %}active{% endif %}"><i class="fa fa-briefcase"></i><span>Achievement</span></a>
	  {% url 'contact' as contact %}
			<a href="{% url 'contact' %}" class="nav-item nav-link {% if request.path == contact %}active{% endif %}"><i class="fa fa-info"></i><span>Contact</span></a>
		</div>
	</div>
  </div>
</nav>

<!--end navbar-->





<!--container-->
<div class="container">

<div class="ml-md-5 mr-md-5">


<!--about me-->

{% for message in messages %}

<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" >
  <strong><i class="fa fa-comments" aria-hidden="true"></i> Message : </strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
 {% endfor %}
 <div class="row">
   
    


{% block content %}
{% endblock content %}




 <div class="col-sm-3 text-center mb-5 mt-2">
   
    <hr>
    <div class="card shadow rounded  text-center pb-2 pt-2">
     <h4 class="text-center hc pt-1">About Me</h4>

    <div class="ml-md-4">
      <span class="text-style-two"> <i class="fa fa-user" aria-hidden="true"></i>  Azizur Rahman (Ayan)</span></br>
      <span class="text-style-two "><i class="fa fa-home" aria-hidden="true"></i> Live in Sylhet <br>
      <span class="text-style-two "><i class="fa fa-location-arrow" aria-hidden="true"></i> From Sylhet <br>
<span class="text-style-two"><a href="mailto:webmaster@example.com" class="text-dark"><i class="fa fa-envelope" aria-hidden="true"></i> aaziz9642@gmail.com</a></span><br>
<span class="text-style-two"><a href="tel:123-456-7890" class="text-dark"><i class="fa fa-phone-square" aria-hidden="true"></i> 01759773446</a></span><br>

</div>
</div>
<hr>

<div class="card shadow rounded">
<h4 class="text-center hc pt-1">Find Me</h4>
<hr>
<marquee behavior="scroll" direction="down" value="Slower" class="text-center" scrollamount="5" onmouseover="this.stop();" onmouseout="this.start();">

<span class="text-style-two"><a href="https://github.com/ayanchyaziz123" target="_blank" class="text-style-two"><i class="fa fa-github" aria-hidden="true"></i>
 github</a></span><br>
 <span class="text-style-two"><a href="https://www.linkedin.com/in/azizur-rahman-720636165/" target="_blank" class="text-style-two"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
 linkedin</a></span><br>
 <span class="text-style-two"><a href="https://www.codechef.com/users/ayan_mu44thc" target="_blank" class="text-style-two"><i class="fa fa-code" aria-hidden="true"></i>
codecheaf</a></span><br>
 <span class="text-style-two"><a href="https://www.youtube.com/channel/UCOdpQOJytA5J-pyxryFpoTA/playlists" target="_blank" class="text-style-two"><i class="fa fa-youtube" aria-hidden="true"></i>
youtube</a></span><br>
 <span class="text-style-two"><a href="https://www.instagram.com/imayanchyaziz/" target="_blank" class="text-style-two"><i class="fa fa-instagram" aria-hidden="true"></i>
instagram</a></span><br>

</marquee>
 <hr>
    </div>




</div>
</div>















<div class="row">
   <div class="col-sm-8 text-center">
   <h5 class="mt-5 hc">Recent Projects</h5>

   </div>
</div>

  <div class="row mt-1 ">
 <div class="col-sm-9 mt-2">
    <div class="card shadow rounded">
    {% for project in project %}
   
   
<div class=" text-white">

<div class="d-flex flex-row bd-highlight mb-3 p-2">
  <div class=" bd-highlight"> <img src={{project.projectImage.url}} alt="no img" class="card-img-top img-bor img-fluid" style="max-height:100px; max-width:80px;">
  </div>
  <div class=" bd-highlight"><a href="{% url 'fullProject' project.id %}">
   <div class="card-body">
  <div class="card-title"> <a href="{% url 'fullProject' project.id %}" class="text-dark text-style-two tt">{{project.projectTitle |truncatechars:50}}</a></br>
  </div>
    <a href="{% url 'fullProject' project.id %}" class="text-dark text-style-two">{{project.projectDescriptions|safe |truncatechars:200}}</a>
  </div>
  </a>

</div>

</div>
</div>
<hr>



    {% endfor %}
</div>
</div>
    
  </div>

  <!--pagination-->
<div class="mt-4 ml-3">
 <nav aria-label="Page navigation example">

       {% if project.has_other_pages %}
  <ul class="pagination">
    {% if project.has_previous %}

      <li class="page-item ">
      <a class="page-link" href="?page={{ project.previous_page_number }}" tabindex="-1">Previous</a>
    </li>

    {% else %}
        <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    {% endif %}
    {% for i in project.paginator.page_range %}
      {% if project.number == i %}

      <li class="page-item active ac">
      <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
    </li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if project.has_next %}
       <li class="page-item">
      <a class="page-link" href="?page={{ project.next_page_number }}">Next</a>
    </li>
    {% else %}
      <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Next</a>
    </li>
    {% endif %}
  </ul>
{% endif %}
</nav>

</div> <!--ending paginations-->

  <hr>


</div>




</div>
<!--end container-->

<!--footer-->

<div class="container">
<div class="ml-md-5 mr-md-5">
<footer class="jumbotron mb-0 mt-5 bg-dark text-white text-center">

<div class="text-center">
<a href="https://github.com/ayanchyaziz123"><i class="fa fa-github pb-2  text-white mr-2 " aria-hidden="true"> Github</i></a>
<a href="https://www.youtube.com/channel/UCOdpQOJytA5J-pyxryFpoTA"><i class="fa fa-youtube pb-2 text-white mr-2 " aria-hidden="true"> Youtube</i></a>
<a href="https://github.com/ayanchyaziz123"><i class="fa fa-code pb-2 text-white mr-2 " aria-hidden="true"> Codecheaf</i></a>
</div>
   <div class="text-center " style="background-color: rgba(0, 0, 0, 0.2);">
    Azizur Rahman Ayan
  </div>
 
</footer>
 </div>
  </div>

 <script>  
          
        // Function to toggle the plus menu into minus  
        function myFunction(x) {  
            x.classList.toggle("fa-minus-circle");  
        }  

    </script> 

     <script>
      
     function validateForm(){

      var name =  document.forms["myForm"]["name"].value;
      var email =  document.forms["myForm"]["email"].value;
      var subject =  document.forms["myForm"]["subject"].value;
      var message =  document.forms["myForm"]["message"].value;

      if(name.length < 4){
        document.getElementById("incorrect_name").innerHTML = "Name should be more than 3 characters";
        return false;
      }
      if(name.length > 20){
        document.getElementById("incorrect_name").innerHTML = "Name should be less than 20 characters";
        return false;
      }
      if(email.length > 40){
        document.getElementById("incorrect_email").innerHTML = "Email should be less than 40 characters";
        return false;
      }
      if(subject.length < 6){
        document.getElementById("incorrect_subject").innerHTML = "Subject should be more than 5 characters";
        return false;
      }
      if(message.length < 6){
        document.getElementById("incorrect_message").innerHTML = "Message should be more than 5 characters";
        return false;
      }
     }



    </script>

</body>
</html>