{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>ayan.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
.vl {
  border-right: 2px solid #363945;
  
}
</style>
</head>
<body style="background-color: #f5f5f5;">

<!--start container-->
<div class="container " style="background:#363945;">
  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-0 pb-0" style="margin">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Recent Project</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <span class="mr-2"><a href="https://github.com/ayanchyaziz123" target="_blank" class=""><i class="fa fa-github text-white" aria-hidden="true"></i></a></span>
      <span class="mr-2"><a href="https://www.linkedin.com/in/azizur-rahman-720636165/" target="_blank" class="text-style-two text-white"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
       <span class=""><a href="https://www.instagram.com/imayanchyaziz/" target="_blank" class="text-style-two"><i class="fa fa-instagram text-white" aria-hidden="true"></i>
</a></span>
    </form>
  </div>
</nav>
</div>

<!--end navbar-->



<!--start container-->
<div class="container mb-2 mt-2 bg-white" >
<div class="row" style="background:#363945;">
  <div class="col-sm-4 mt-2 mb-2">
       <img src="{% static 'images/aya.jpeg' %}" style="max-height:150px; border: 2px solid #46344E" class="ml-5 img-thumbnail">
  </div>
  <div class="col-sm-5">
  <h1 class="display-4 text-white">Azizur Rahman</h1>
  <p class="lead text-white">Student At Metropolitan University</p>
  </div>
  <div class="col-sm-3">
   <div class="mt-3 text-white">
      <span class=""><i class="fa fa-home" aria-hidden="true"></i> Live in Sylhet <br>
      <span class=""><i class="fa fa-location-arrow" aria-hidden="true"></i> From Sylhet <br>
<span class=""><a href="mailto:webmaster@example.com" class="text-white"><i class="fa fa-envelope" aria-hidden="true"></i> aaziz9642@gmail.com</a></span><br>
<span class=""><a href="tel:123-456-7890" class="text-white"><i class="fa fa-phone-square" aria-hidden="true"></i> 01759773446</a></span><br>

</div>
  </div>
</div>


<!--end container-->


<div class="row ">
<div class="col-sm-3 p-3 vl">
<h5>#Profile</h5>
<p>Disciplined and enthusiastic sales associate, conversant with POS and stock management systems. Eager to join the ABC Store team to boost sales numbers and customer loyalty metrics. Previous retail experience includes a summer job as a restocker and cashier at DEF Store. Commended on multiple occasions
 by the store management and customers themselves for superb customer service and communication skills.</p>
</div>
<div class="col-sm-5 p-3 vl">
<h5>#Programming Skill</h5>
 <ul>
         <li>Python</li>
         <li>Java Script</li>
         <li>Java</li>
         <li>C</li>
      </ul>
</div>
<div class="col-sm-4 p-3">
<h5>#Social Skill</h5>
<p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on
 meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
</div>
</div>

<hr>

<div class="row ">
<div class="col-sm-8 p-3 vl">
<h5>#Recent Project</h5>
<p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on
 meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
</div>
<div class="col-sm-4 p-3 ">
<h5>#Education</h5>
<p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on
 meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>

<hr>

<h5>#Education</h5>
<p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on
 meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>



</div>


</div>


<div class="row mt-5 bg-dark">
<div class="col-sm-3">
</div>
<div class="col-sm-6  text-white p-3">
<h5>#Contact</h5>
<form class="ml-4 mr-2" name="myForm" action="{% url 'contact' %}" method="POST" onsubmit="return validateForm()">
{% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1"  class="text-style-two ">Name</label>
    <input type="text" class="form-control " id="name" name="name"  placeholder="Enter name" required>
    <p id="incorrect_name"></p>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1"  class="text-style-two ">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
    <p id="incorrect_email"></p>
  </div>
  <form class="ml-md-5">
  <div class="form-group">
    <label for="exampleInputEmail1"  class="text-style-two ">Subject</label>
    <input type="text" class="form-control" id="subject" name="subject"  placeholder="Enter subject" required>
     <p id="incorrect_subject"></p>
  </div>
  <div class="form-group">
    <label for="emessage"  class="text-style-two " >Message</label>
    <textarea class="form-control" id="message" name="message" placeholder="Enter message" required></textarea>
    <p id="incorrect_message"></p>
  </div>
  

  <button type="submit" class="btn-cv btn btn-secondary">Submit</button>
</form>




</div>

<div class="col-sm-3">


</div>



<!--container end-->
</div> 


<!--container-->
<div class="container">




<!--about me-->

{% for message in messages %}

<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" >
  <strong><i class="fa fa-comments" aria-hidden="true"></i> Message : </strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
 {% endfor %}
 <div class="row">
   
    


{% block content %}
{% endblock content %}




</div>
<!--end container-->

<!--footer-->

<div class="container bg-dark">

<footer class="jumbotron mb-0 mt-5 bg-dark text-white text-center">

<div class="text-center">
<a href="https://github.com/ayanchyaziz123"><i class="fa fa-github pb-2  text-white mr-2 " aria-hidden="true"> Github</i></a>
<a href="https://www.youtube.com/channel/UCOdpQOJytA5J-pyxryFpoTA"><i class="fa fa-youtube pb-2 text-white mr-2 " aria-hidden="true"> Youtube</i></a>
<a href="https://github.com/ayanchyaziz123"><i class="fa fa-code pb-2 text-white mr-2 " aria-hidden="true"> Codecheaf</i></a>
</div>
   <div class="text-center " style="background-color: rgba(0, 0, 0, 0.2);">
    Azizur Rahman Ayan
  </div>
 
</footer>
 </div>


 <script>  
          
        // Function to toggle the plus menu into minus  
        function myFunction(x) {  
            x.classList.toggle("fa-minus-circle");  
        }  

    </script> 

     <script>
      
     function validateForm(){

      var name =  document.forms["myForm"]["name"].value;
      var email =  document.forms["myForm"]["email"].value;
      var subject =  document.forms["myForm"]["subject"].value;
      var message =  document.forms["myForm"]["message"].value;

      if(name.length < 4){
        document.getElementById("incorrect_name").innerHTML = "Name should be more than 3 characters";
        return false;
      }
      if(name.length > 20){
        document.getElementById("incorrect_name").innerHTML = "Name should be less than 20 characters";
        return false;
      }
      if(email.length > 40){
        document.getElementById("incorrect_email").innerHTML = "Email should be less than 40 characters";
        return false;
      }
      if(subject.length < 6){
        document.getElementById("incorrect_subject").innerHTML = "Subject should be more than 5 characters";
        return false;
      }
      if(message.length < 6){
        document.getElementById("incorrect_message").innerHTML = "Message should be more than 5 characters";
        return false;
      }
     }



    </script>

</body>
</html>