{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="col-9">
<h4 class="text-center text-style mb-3">Certificate</h4>
    <hr>


<form class="ml-md-5">
  <div class="form-group">
    <label for="exampleInputEmail1"  class="text-style-two ">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1"  class="text-style-two ">Email</label>
    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1"  class="text-style-two ">Comment</label>
    <textarea class="form-control"></textarea>
  </div>
  

  <button type="submit" class="btn btn-info text-style-two">Submit</button>
</form>


</div>





{% endblock content %}