{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="col-sm-9 mt-2">
<h4 class="text-center text-style mb-3">Contact</h4>
    <hr>
   <div class="card shadow rounded p-3 ">


<form class="ml-4 mr-2" name="myForm" action="{% url 'contact' %}" method="POST" onsubmit="return validateForm()">
{% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1"  class="text-style-two ">Name</label>
    <input type="text" class="form-control " id="name" name="name"  placeholder="Enter name" required>
    <p id="incorrect_name"></p>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1"  class="text-style-two ">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
    <p id="incorrect_email"></p>
  </div>
  <form class="ml-md-5">
  <div class="form-group">
    <label for="exampleInputEmail1"  class="text-style-two ">Subject</label>
    <input type="text" class="form-control" id="subject" name="subject"  placeholder="Enter subject" required>
     <p id="incorrect_subject"></p>
  </div>
  <div class="form-group">
    <label for="emessage"  class="text-style-two " >Message</label>
    <textarea class="form-control" id="message" name="message" placeholder="Enter message" required></textarea>
    <p id="incorrect_message"></p>
  </div>
  

  <button type="submit" class="btn-cv btn btn-secondary">Submit</button>
</form>
</div>

</div>





{% endblock content %}