{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="col-sm-8">
<h4 class="text-center text-style mb-3">Education</h4>
    <hr>
    <div class="ml-4 mr-2">
    <dl>
  <dt><i class="fa fa-university" aria-hidden="true"></i> Bsc in CSE</dt>
  <dd class="text-style-two ">- <strong>University 	</strong>: 	Metropolitan University, Sylhet</dd>
  <dd class="text-style-two ">- <strong>Country 	</strong>: 	Bangladesh</dd>
  <dd class="text-style-two ">-  <strong>Passing year 	</strong>: 	Running</dd>
  <dd class="text-style-two ">- <strong>CGPA</strong> :  3.50 out of 4</dd>
  <dt><i class="fa fa-graduation-cap" aria-hidden="true"></i> HSC</dt>
  <dd class="text-style-two ">- <strong>College</strong> : Schoolarshome, Sylhet </dd>
  <dd class="text-style-two ">- <strong>Country 	</strong>: 	Bangladesh</dd>
  <dd class="text-style-two ">- <strong>Passing year</strong> : 2017 </dd>
  <dd class="text-style-two ">- <strong>GPA</strong> : 3.50 out of 5</dd>
  <dt><i class="fa fa-graduation-cap" aria-hidden="true"></i> SSC</dt>
  <dd class="text-style-two ">- <strong>School</strong> : Jahiria am you high school, Sylhet </dd>
  <dd class="text-style-two ">- <strong>Country 	</strong>: 	Bangladesh</dd>
  <dd class="text-style-two ">- <strong>Passing year</strong> : 2015 </dd>
  <dd class="text-style-two ">- <strong>GPA</strong> : 4.56 out of 5</dd>
  <dt><i class="fa fa-graduation-cap" aria-hidden="true"></i> JSC</dt>
  <dd class="text-style-two ">- <strong>School</strong> : Jahiria am you high school, Sylhet </dd>
  <dd class="text-style-two ">- <strong>Country 	</strong>: 	Bangladesh</dd>
  <dd class="text-style-two ">- <strong>Passing year</strong> : 2012 </dd>
  <dd class="text-style-two ">- <strong>CGPA</strong> : 3.50 out of 5</dd>
  <dt><i class="fa fa-graduation-cap" aria-hidden="true"></i> PSC</dt>
  <dd class="text-style-two ">- <strong>School</strong> : Manik ganj gov primary school, Sylhet </dd>
  <dd class="text-style-two ">- <strong>Country 	</strong>: 	Bangladesh</dd>
  <dd class="text-style-two ">- <strong>Passing year</strong> : 2009 </dd>
  <dd class="text-style-two ">- <strong>CGPA</strong> : 5 out of 5</dd>
  
  
</dl>

    </div>
</div>





{% endblock content %}