{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-9 mt-2">

 
    <h4 class="text-center text-style mb-3">Myself</h4>
    <hr>
    <div class="card shadow rounded p-2 ">
      <div id="demo" class="carousel" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <img src="{% static 'images/ayan6.jpg' %}" alt="Los Angeles" class="img-fluid" width="1000" height="400">
      <div class="carousel-caption">
        <h5>Student</h5>
        <p>At Metropolitan University</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/aya.jpeg' %}" alt="Chicago" class="img-fluid" width="1000" height="400">
       <div class="carousel-caption">
        <h5>class representative </h5>
        <p>At Metropolitan University</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/ayan8.jpg' %}" alt="New York" class="img-fluid" width="1000" height="400">
       <div class="carousel-caption">
       <h5>Web developer </h5>
        <p>At Online</p>
      </div>   
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div> 
<hr>

      <p class="text-style-two ml-4 mr-2">
My name is Azizur Rahman(Ayan) and I am currently a senior pursuing a Bachelor’s degree in CSE.
 I currently maintain a 3.50 CGPA and I will be graduating in dec 2021. As a student of CSE I got a  lot of courses that
made me more productive.I like programming a lot.Python is my favourite programming language.
      </p>
      <hr>
   
      </div>
    </div>
    











{% endblock content %}