{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-9 ">

 
    <h4 class="text-center text-style mb-3">Biography</h4>
    <hr>
      <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/ayan6.jpg' %}" alt="Los Angeles" width="1000" height="400">
      <div class="carousel-caption">
        <h3>Student</h3>
        <p>At Metropolitan University</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/aya.jpeg' %}" alt="Chicago" width="1000" height="400">
       <div class="carousel-caption">
        <h3>class representative </h3>
        <p>At Metropolitan University</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/ayan8.jpg' %}" alt="New York" width="1000" height="400">
       <div class="carousel-caption">
       <h3>class representative </h3>
        <p>At Metropolitan University</p>
      </div>   
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div> 
<hr>

      <p class="text-style-two">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
 and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      <hr>
   
      
    </div>
    











{% endblock content %}