{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="col-sm-9">
<h4 class="text-center text-style mb-3">Skill</h4>
    <hr>
    <div class="">
    <dl>
  <dt><i class="fa fa-laptop" aria-hidden="true"></i> Programming Language</dt>
  <dd class="text-style-two ">- <strong>Python</strong> (Python is my favourite language.Usually, I do work project with python. I have solved about 1000 problem in online judge
  by using python.And I also made multiple projects by using python.)
   <ul>
      <li><a href="https://github.com/ayanchyaziz123/Problem-solving" target="_blank">Online problem solving my github repository<a></li>
      <li><a href="https://github.com/ayanchyaziz123/AI-Voice-Assistant" target="_blank">AI voice assist by using python<a></li>
      <li><a href="https://www.youtube.com/watch?v=6q8MjQqZVsk&list=PL1QozeBXRror9jHPshkfcIgOJJ7NrLy6D&ab_channel=PythonLand" target="_blank">AI playlist in youtube where i solve ai problem by using pyhton</a></li>

    </ul>
  </dd>
  <dd class="text-style-two ">- <strong>C</strong> (C is a general-purpose, procedural computer programming language. Actully, I learned C in my
  univery 1st year. )</dd>


  <dd class="text-style-two ">- <strong>C++</strong> (I also learned C++ from my university. I had to make a project by using C++ for project 200)
    
    <ul>
      <li><a href="https://drive.google.com/drive/folders/1qQcc1Gl20u3X9swPMg-TPBLm3q0YtlxW" target="_blank">ayansbook project<a></li>
    </ul>


  </dd>
 
  <dd class="text-style-two ">- <strong>Java </strong> (Java is a class-based, object-oriented programming language. I learned OOP from my university by using java.
  I made a project by using java and i also helped my friend to make java project)

   <ul>
      <li><a href="https://www.youtube.com/watch?v=SZPKDnCpFXw&t=9s&ab_channel=PythonLand" target="_blank">GUI java project which is called gym management system<a></li>
      <li><a href="https://www.youtube.com/watch?v=54rbSvmPONo&t=6s&ab_channel=PythonLand" target="_blank">Java playlist on my youtube channel where i made multiple video two help begginer</a></li>

    </ul>
  
  
  
  
  
  </dd>
  <dd class="text-style-two ">- <strong> Php </strong> (PHP is a general-purpose scripting language especially suited to web development.
  I learnd php basic for doing laravel project)</dd>
   <dd class="text-style-two ">- <strong> Java Script </strong> (JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript specification. JavaScript is high-level, often just-in-time compiled, and multi-paradigm.
   I learned JS from online. I made multiple project by using js.)
   
    <ul>
      <li><a href="https://www.youtube.com/watch?v=SZPKDnCpFXw&t=9s&ab_channel=PythonLand" target="_blank">Hangman game by using pure js<a></li>

    </ul>
   
   
   </dd>
  <dt><i class="fa fa-fire" aria-hidden="true"></i> MVC/MVT framework</dt>
  <dd class="text-style-two ">- Django (django is a MVT framework. I made multiple project by using django)
  
  <ul>
      <li><a href="https://www.youtube.com/watch?v=DyQgveJIZ3I&ab_channel=PythonLand" target="_blank">ayansblog<a></li>
      <li><a href="https://www.youtube.com/watch?v=54rbSvmPONo&t=6s&ab_channel=PythonLand" target="_blank">ATI house price prediction system</a></li>
      <li><a href="https://www.youtube.com/watch?v=54rbSvmPONo&t=18s" target="_blank">Mobile store e-com website</a></li>
    </ul>
  
  </dd>
  <dd class="text-style-two ">- Laravel (laravel is a MVc framework.)</dd>
  <ul>
      <li><a href="https://www.youtube.com/watch?v=ep5qccZjgcw&t=85s&ab_channel=PythonLand" target="_blank">GYM managemnet system<a></li>
    </ul>
  <dt><i class="fa fa-font-awesome" aria-hidden="true"></i> Front-end framework</dt>
  <dd class="text-style-two ">- react js</dd>
  <dd class="text-style-two ">- Bootstrap 4 </dd>
  
  <dt><i class="fa fa-pencil-square-o" aria-hidden="true"></i> CMS</dt>
  <dd class="text-style-two ">- Wordpress</dd>
  <dt><i class="fa fa-database" aria-hidden="true"></i> Database management system</dt>
  <dd class="text-style-two ">- Mysql</dd>
  <dd class="text-style-two ">- Postgrasql</dd>
  <dd class="text-style-two ">- Nosql</dd>
  <dt><i class="fa fa-windows" aria-hidden="true"></i> Microsoft office package</dt>
  <dd class="text-style-two ">- MS Word, MS Excel, MS PowerPoint </dd>
  <dt class="text-style-two "><i class="fa fa-spinner" aria-hidden="true"></i> Operating System </dt>
  <dd class="text-style-two ">- Windows (XP/ Windows 7,8,10)  </dd>
  
</dl>

    </div>
</div>





{% endblock content %}