{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="col-9">
<h4 class="text-center text-style mb-3">Skill</h4>
    <hr>
    <div class="ml-md-5">
    <dl>
  <dt><i class="fa fa-laptop" aria-hidden="true"></i> Programming Language</dt>
  <dd class="text-style-two ">- Python (Python is my favourite language.Usually, I do work project with python)</dd>
  <dd class="text-style-two ">- C (Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis, dolor eu faucibus facilisis, erat enim sagittis enim, at condimentum odio nunc id ligula. 
  Nunc scelerisque leo at efficitur vestibulum. Nullam volutpat molestie nisi, eu egestas velit semper at.)</dd>
  <dd class="text-style-two ">- C++ (Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis, dolor eu faucibus facilisis, erat enim sagittis enim, at condimentum odio nunc id ligula. Nunc scelerisque
   leo at efficitur vestibulum. Nullam volutpat molestie nisi, eu egestas velit semper at.)</dd>
  <dd class="text-style-two ">- Java Script</dd>
  <dd class="text-style-two ">- Java</dd>
  <dd class="text-style-two ">- Php</dd>
  <dt><i class="fa fa-fire" aria-hidden="true"></i> MVC/MVT framework</dt>
  <dd class="text-style-two ">- Django (Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis, dolor eu faucibus facilisis, erat enim sagittis enim, at condimentum odio nunc id ligula. 
  Nunc scelerisque leo at efficitur vestibulum. Nullam volutpat molestie nisi, eu egestas velit semper at.)</dd>
  <dd class="text-style-two ">- Laravel</dd>
  <dd class="text-style-two ">- Expree js</dd>
  <dt><i class="fa fa-font-awesome" aria-hidden="true"></i> Front-end framework</dt>
  <dd class="text-style-two ">- react js</dd>
  <dd class="text-style-two ">- Bootstrap 4 (Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis, dolor eu faucibus facilisis, erat enim sagittis enim, at condimentum odio nunc id ligula. 
  Nunc scelerisque leo at efficitur vestibulum. Nullam volutpat molestie nisi, eu egestas velit semper at.)</dd>
  
  <dt><i class="fa fa-database" aria-hidden="true"></i> Database management system</dt>
  <dd class="text-style-two ">- Mysql</dd>
  <dd class="text-style-two ">- Postgrasql</dd>
  <dd class="text-style-two ">- Nosql</dd>
  <dt><i class="fa fa-windows" aria-hidden="true"></i> Microsoft office package</dt>
  <dd class="text-style-two ">- MS Word, MS Excel, MS PowerPoint </dd>
  <dt class="text-style-two "><i class="fa fa-spinner" aria-hidden="true"></i> Operating System </dt>
  <dd class="text-style-two ">- Windows (XP/ Windows 7,8,10)  </dd>
  
</dl>

    </div>
</div>





{% endblock content %}