.bg-dark{
    background-color: #808080 !important;
}
.bg-info{
    background-color: #808080 !important;
}
.text-style{
    font-family:Courier New;
}
.text-style-two{
   font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 14px;
   color: #666666;
}
.text-style:hover{
    color: gray;

}
.m-hw{
    max-height: 130px;
    max-width: 130px;
}
input{
    font-size: 13px !important;
}
a{
    font-size: 15px !important;
}
.dropdown-menu a:hover{
    color: #808080 !important;
}
/* auto hover */
/*
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
 */
 .btn-secondary{
     background-color: #808080 !important;
     border-color: #808080;
 }
 .btn-secondary:hover{

    background-color: #808080 !important;
    border-color: #808080 !important;

 }

 .dropdown-toggle::after { 
    display: none !important; 
} 
.fas { 
   
    color:white; 
} 

.im-size{
    max-width: 100% !important;
    max-width: 100% !important;
}

.t{
    color: white;
}
.active{
    text-decoration: overline !important;
    background-color: #808080 !important;


}

.imgg {
    max-width: 100%;
}

.mll{
    color: white;
}
.tt{
    font-size:20px !important;
    
}
.text-dar{
    color: #666666;
}
.btn{
    font-size: 12px !important;
}
.ac{
    background-color: #808080  !important;
}
.bg-primary{
    background-color: #808080 !important;

}
.navbar-nav .nav-item{
    font-weight: 600 !important;
}
.navbar-brand{
    font-weight: 600 !important;

}
.dropdown-menu .dropdown-item{
    font-weight: 600 !important;

}







