@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Josefin+Sans&display=swap');

:root {
    --bg-size: 100% 100%;
    --main_color: #fff;
    --title: 'Josefin Sans', sans-serif;
    --font-para: 'David Libre', serif;
    --btn-color: #bbe1fa;
    --btn-font-color: #000;
    --btn-font: 1.5rem;
    --eff: .3s all ease;
}

*{
    font-family: var(--font-para);
}
.form-control:focus {
    border-color: #363945;
    box-shadow: 0 0 0 0.2rem rgba(43, 43, 38, 0.842);
} 

.form-control{
    font-size: 13px !important;
}
.btn{
    font-size: 13px !important;
}
.btn-secondary{
    background-color: #615550;
    color: #fff !important;
}

.btn-secondary:hover{
    background-color: #3a312d;
    transition-duration: 0.9s;
}



@media screen and (min-width: 992px) {
.vl {
    border-right: 1px solid #363945;
    
  }
}

hr{
    
    border-top: 1px solid #363945;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #363945;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  .alert-success{
    background-color: #363945 !important;
    color: #fff !important;

}

.anchor-color{
    color: #363945 !important;
}


@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 5rem
}

.card {
    position: relative;
    display: flex;
    width: 350px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 11px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
}

.card .card-body {
    padding: 1rem 1rem
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

p {
    font-size: 0.875rem;
    margin-bottom: .5rem;
    line-height: 1.5rem
}

h4 {
    line-height: .2 !important
}

.profile {
    margin-top: 16px;
    margin-left: 11px
}

.profile-pic {
    width: 58px
}

.cust-name {
    font-size: 18px
}

.cust-profession {
    font-size: 10px
}

.items {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px
}

.slick-slide {
    margin: 10px
}







