aniso8601==8.1.0
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.2.7
async-generator==1.10
attrs==20.2.0
autopep8==1.5.4
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
ChatterBot==1.0.8
click==7.1.2
colorama==0.4.3
comtypes==1.1.7
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.0.7
django-cors-headers==3.5.0
djangorestframework==3.12.1
djangorestframework-simplejwt==4.6.0
docopt==0.6.2
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.8
gevent==20.12.1
greenlet==0.4.17
grequests==0.6.0
gunicorn==20.0.4
idna==2.10
importlib-metadata==2.0.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.17.0
Js2Py==0.70
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
mathparse==0.1.2
matplotlib==3.3.2
mistune==0.8.4
more-itertools==8.6.0
MouseInfo==0.1.3
nbclient==0.5.0
nbconvert==6.0.7
nbformat==5.0.7
nest-asyncio==1.4.1
notebook==6.1.4
numpy==1.19.2
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.2
parso==0.7.1
pickleshare==0.7.5
Pillow==7.1.2
pipenv==2020.11.15
pipwin==0.5.0
prometheus-client==0.8.0
prompt-toolkit==3.0.7
PyAutoGUI==0.9.52
pycodestyle==2.6.0
pycparser==2.20
PyGetWindow==0.0.9
Pygments==2.7.1
pyjsparser==2.7.1
PyJWT==1.7.1
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.1
PyPrind==2.11.2
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.26
pySmartDL==1.3.4
python-dateutil==2.8.1
pyttsx3==2.90
PyTweening==1.0.3
pytz==2020.1
pywinpty==0.5.7
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.2
selenium==3.141.0
Send2Trash==1.5.0
sequential==1.0.0
six==1.15.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
SQLAlchemy==1.3.23
sqlparse==0.3.1
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.1
tornado==6.0.4
traitlets==5.0.4
twilio==6.51.1
tzlocal==2.1
urllib3==1.25.11
virtualenv==20.4.2
virtualenv-clone==0.5.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.1.0
widgetsnbextension==3.5.1
wikipedia==1.4.0
wolframalpha==4.1.1
xlwt==1.3.0
xmltodict==0.12.0
zipp==3.3.0
zope.event==4.5.0
zope.interface==5.2.0
