@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Josefin+Sans&display=swap');

:root {
    --bg-size: 100% 100%;
    --main_color: #fff;
    --title: 'Josefin Sans', sans-serif;
    --font-para: 'David Libre', serif;
    --btn-color: #bbe1fa;
    --btn-font-color: #000;
    --btn-font: 1.5rem;
    --eff: .3s all ease;
}

*{
    font-family: var(--font-para);
}